[Unit]
Description=command-keypad daemon
After=syslog.target

[Service]
Type=simple
ExecStart=/opt/command-keypad/command-keypad.py -c /opt/command-keypad/conf/simpleconfig.yaml -i /dev/command-keypad
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
